<p id="notice"><%= notice %></p>

<h1>Ideas</h1>
<h2>Oh hey there</h2>
<br>
</br>
<p class="introtext"> Welcome to our page for living vicariously through the 90's and pot plants.</p>
<p class="introtext"> Here you can rate pot plants, add your own, and generally add to the greatness at hand. </p>
<p class="introtext"> Make sure you've logged in to use the service to its maximum capacity! </p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= idea.picture %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
