<p id="notice"><%= notice %></p>

<h1>Rate my plant!</h1>
<h2>Oh hey there</h2>
<div class="container">
  <div class="row">
    <% @ideas.each do |idea| %>
    <div class="col-sm">
      <div>
         <%= idea.name%>
       </div>
        <%= image_tag(idea.picture_url, width: 100) if idea.picture.present? %>
        <div>
          <%= idea.description %>
        </div>
    </div>
    <% end%>
  </div>
</div>
<br>

<%= link_to 'New Idea', new_idea_path %>
